<h1>Password Reset</h1>

<p>Hello,</p>
<p>Somebody requested a new password for the GlobalReader account for <%= @email %>.</p>
<p>You can reset your password by clicking the link below:</p>

<%= link "Change password",
  to: Routes.password_recovery_path(GlobalReaderProjectWeb.Endpoint, :edit, @user.password_reset_token) %>
